h1{
    font-size: 48px;
    background-color: gray;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 10px black;
    font-family: Tahoma;
    }
div.a{
    text-indent: 50px;
    word-spacing: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div.b{
    text-indent: 70px;
    word-spacing: -2px;
}
h2{
    text-shadow: 1px 1px 2px;
    letter-spacing: 10px;
}
p.a{
    background-color: grey;
    height: 30px;
    line-height: 1.8;
    text-indent: 20px;
}
p.b{
    background-color: black;
    color: white;
    height: 30px;
    line-height: 1.8;
    text-indent: 20px;
}