body{
    background-image: url(../img/claudio-schwarz-sWQoyuIWAAk-unsplash.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    }

nav{
    background-color: rgba(128, 128, 128, 0.531);
    display: flex;
    justify-content: space-between;
    border: none;
    align-items: center;
    padding: 10px 15px;
} 

nav div a{
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    justify-content: space-between;
    color: white;
    margin-right: 15px;
}

p{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;

}